name = "foxcloud"
main = "dist/worker.js"
compatibility_date = "2024-09-23"

[build]
command = "npm run build"

# Development configuration
[vars]
UUID = "08dad8a6-8a6c-4424-9d63-62f3a9bf7f4f,49d598ee-4dfc-4001-95ca-99a5b6002e3c"
# For development, explicitly include a port (default :443 for TLS)
PROXY_IP = "v2server.koyeb.app/vless:443"


[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1